// Vendors
@import 'bootstrap/scss/bootstrap';

// Components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: var(--bs-white);
}

body {
  background: #5243AA;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-bottom: .5rem;
}

select, option {
  color: var(--bs-black);
}

select {
  cursor: pointer;
  outline: none;
}

.header {
  margin: 15px;
  max-width: 1400px;
  width: 100%;
  margin: 20px auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6554C0;
  border: solid 1px;
  border-style: none;
  border-radius: 10px;

  &__heading {
    margin-bottom: 0;
  }

  &__clock {
    font-size: 40px;
    font-weight: 400;
    font-family: Verdana, Arial, Sans-serif;
    text-align: center;
    background: #9387D3;
    border: solid 1px #A79DDB;
    border-radius: 15px;
    padding: 0 10px;
  }
}

.board {
  &__wrapper {
    height: 80vh;
    max-width: 1400px;
  }

  &__header {
    margin-left: 0;
  }

  &__column-header {
    max-width: 32%;
    padding: 0;
  }

  &__work-area {
    height: 85%;
    margin-left: 0;
  }

  &__column {
    max-width: 32%;
  }

  &__column::-webkit-scrollbar {
    display: none;
  }
}

.btn {
  font-size: .5rem;
}

.todos {
  background: var(--bs-yellow);
}

.in-progress {
  background: var(--bs-cyan);
}

.done {
  background: var(--bs-teal);
}

.task {
  border: solid 1px gray;
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select {
    border-radius: 10px;
    height: 40px;
    width: 75%;
  }

  &__footer {
    align-items: center;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 25%;
  }

  // &__button {
  //   border-radius: 10px;
  // }
}
