// Vendors
@import 'bootstrap/scss/bootstrap';

// Components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: var(--bs-white);
}

body {
  background: #9387D3;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-bottom: .5rem;
  word-break: break-word;
}

select,
option,
#add-modal-label,
#edit-modal-label,
.form-label,
#delete-modal-title,
#delete-confirmation {
  color: var(--bs-black);
}

select {
  cursor: pointer;
  outline: none;

  &:disabled {
    background: #adb5bd;
    cursor: initial;
  }
}

.header {
  margin: 15px;
  max-width: 1400px;
  width: 100%;
  margin: 20px auto;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #6C757D;
  border: solid 1px;
  border-style: none;
  border-radius: 10px;

  &__heading {
    margin-bottom: 0;
  }

  &__clock {
    font-size: 40px;
    font-weight: 400;
    font-family: Verdana, Arial, Sans-serif;
    text-align: center;
    background: #9387D3;
    border: solid 1px #A79DDB;
    border-radius: 15px;
    padding: 0 10px;
  }
}

.board {
  &__wrapper {
    height: 80vh;
    max-width: 1400px;
  }

  &__header {
    margin-left: 0;

    &-todo {
      background: #FFAC7B;
    }

    &-in-progress {
      background: #63B9FF;
    }

    &-done {
      background: #2EB82E;
    }
  }

  &__column-header {
    height: 71px !important;
    max-width: 32%;
    padding: 0;
  }

  &__columns {
    height: 85%;
    margin-left: 0;
  }

  &__column {
    max-width: 32%;

    &-todo {
      background: #FFAC7B;
    }

    &-in-progress {
      background: #63B9FF;
    }

    &-done {
      background: #2EB82E;
    }
  }

  &__column::-webkit-scrollbar {
    display: none;
  }

  &__button {
    color: var(--bs-white);
  }
}

.task {
  border: solid 1px var(--bs-white);
  border-radius: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select {
    border-radius: 10px;
    height: 40px;
    width: 75%;
  }

  &__footer {
    align-items: center;
    gap: 10px;
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    width: 25%;
  }
}
